
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
}
h2{
    text-align: center;
    font-weight:normal;
    font-style:italic;
}
ul{
    text-align: right;   
    padding: 20px;
}
li{
    display: inline;
    padding: 0 10px 0 10px;
    text-decoration: none;
}
img{
    width:40ex;
    height:40ex;
    border-radius: 5ex;
    border-bottom: black;
}
.grid-container{
    display: grid;
    grid-column-gap:10ex;
    grid-row-gap:10ex;
    grid-template-columns: auto auto auto;
    padding: 5px;

}

div{
    margin-top: 100px;
    display: inline;
    padding: 5px;
    margin-left: 50px;
    margin-right:5px
    
}
p{

    text-align:left;
    Padding:5px;

}
.Price{
    float: right;
    font-style:italic;
    font-weight:lighter;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40ex;
  transition:0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(119, 61, 61, 0.801);

}



